/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}



body {
    background-color: rgb(248, 248, 248);
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}

.navbar-nav {
    font-size: 18px;
}

    .navbar-nav li a {
        text-decoration: none;
    }

/*Admin login title*/
#login-title {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid green;
}
/* mytemplate css */
.mytemplate, .rightside {
    /* border-left:2px solid rgb(152, 16, 214); */
    margin-top: 50px;
    margin-bottom: 50px;
}

#template-title {
    display: inline-block;
    margin: 35px;
    padding-bottom: 10px;
    border-bottom: 3px solid green;
}

.template-data {
    padding-top: 20px;
    padding-left: 35px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
}
/*.mytemplate p {
        padding-top: 20px;
        padding-left: 35px;
        font-size: 18px;
    }*/

/* Right side CSS*/

.rightside-title {
    margin: 25px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 3px solid blue;
}

.button-group {
    margin: 25px;
}

    .button-group .btn {
        margin: 5px;
    }

/*margin from mytemplate*/
#rightside-tag, #most-viewed, #rightside-third {
    margin-left: 30px;
}

/*Post template CSS*/

.post-template {
    border-left: 4px solid blue;
    margin: 50px 0;
    margin: 35px;
    padding: 25px;
}

.post-title {
    padding-left: 25px;
    /*border: 2px solid black;*/
}

    .post-title h4 {
        font-weight: bold;
    }

.post-description {
    padding-left: 25px;
    margin-top: 20px;
    /*border:2px solid blue;*/
}

    .post-description p {
        /* border:2px solid tomato; */
        display: inline-block;
    }

.post-footer {
    /*border: 2px solid black;*/
    padding-left: 25px;
    margin-top: 30px;
}
/*Comment CSS*/
.comment-template {
    border-left: 4px solid blue;
    padding: 10px;
}

.comment-username {
    padding-left: 8px;
}

    .comment-username h4 {
        font-weight: bold;
    }

.comment-data {
    padding-left: 8px;
    margin-top: 10px;
    /* border:2px solid blue; */
}

    .comment-data h4 {
        /* border:2px solid tomato; */
        display: inline-block;
    }

/* Comment Box CSS */
#comment-box {
    display: none;
    padding: 50px;
}

.template-footer {
    /* border: 2px solid black; */
    margin-left: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.far, .fas {
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

#like, #comment {
    display: flex;
    padding: 20px;
    padding-left: 0px;
}

#MainContent_CommentBox, #MainContent_Button3 {
    margin-left: 57px;
    margin-top: 4px;
}

#MainContent_Button4 {
    margin-top: 4px;
    margin-left: 4px;
}

#cancel-comment-button {
    margin-top: 4px;
    display: inline-block;
}
